/* Common shared Section*/
body{
    font-family: 'lato',sans-serif;
}

.button-primary{
    border-radius: 5px;
    background: #E55473 ;
    border: none;
    color: white ;
    font-size: 20px ;
    font-weight: 700;
    padding: 15px 35px;

}

/* Banner Section*/
header{
    background-color: #e5547315;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-content{
    max-width: 800px;
    max-height: 700px;
}

.banner .banner-img{
    padding-left:30px;
    padding-right: 30px ;
   
}
.title{
    font-size: 55px;
    font-weight: 900;
    color: #272727;
    text-align: left;
}
.description{
    font-size: 15px;
    color: #757474;
    font-weight: 200;
    margin-bottom: 20px;
    text-align: left;
}

/* Feature-flower Section*/
.featured-flower{
    margin-top: 200px;
}
.feature-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
}
.featued-description{
    text-align: center;
    font-size: 18px;
    color: #8d8a8a;
    margin-bottom: 60px;
    
}
.flower-container{
    display: flex;
    justify-content: center;
    gap: 24px;

}
#maximum-size
 {
    max-width: 1140px;
    margin: 0 auto;
}
#size{
    width: 250px;
    height: 350px;
    align-items: center;
    padding: 50px 50px 0 50px;
}
.flower-bg{
 background-color: #0598a03a;
 width: 350px;
 height:500px;
 border-radius: 200px 200px 0 0;
}
.flower-bg2{
    background-color:#477d1141;
    width: 350px;
    height:500px;
    border-radius: 200px 200px 0 0;
   }
   .flower-bg3{
    background-color: #a7216231;
    width: 350px;
    height:500px;
    border-radius: 200px 200px 0 0;
   }
.flower-description{
    text-decoration: underline;
    font-weight: 600;
    text-align: center;
   
}

/* Hot deals Section*/
.hot-deals{
    margin-top: 50px;
    background-color: #e5547315;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content:space-evenly;
    padding: 30px 150px 150px 50px;   
}
#image-rose{
    padding: 100px 0 0 0;
    width: 250px;
    height: 350px; 
}
.text-section{
    text-align: center;
}
.color{
    color: #E55473;
}
.deals-text{
    color: #8d8a8a;
}

/* Instragram Flowers*/
.instragram{
    margin-top: 100px;
}
.instra-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.img-size{
    width: 262px;
    height: auto; 
}

/* Get Deals*/
.Get-deals{
    background-image: url('../images/Rectangle 9.png');
    background-repeat: no-repeat;
    height: 500px ;
    max-width:  1100px;
    margin: auto;
    margin-top: 100px ;
}
.deals-head{
    text-align: center;
    padding: 150px 0 0 0;
    font-weight: 900px;
    font-size: 30px;
    margin-bottom: 0;
}
.deals-text{
    color: #8d8a8a;
    font-weight: 300px;
    font-size: 15px;
    text-align: center;
}
.form-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.contact input[type="email"]{
    display: block;
    padding: 18px 35px;
    color: #8d8a8a;
    border-radius: 5px;
    background-color: white;
    border: 0;
    width: 500px;
}
/*facebook*/
.facebook{
    background-color: #0598a01a;
    width: auto;
    height: auto;
    padding-bottom: 0;   
}
#facebook-text{
    padding: 60px 0 0 0;
}
#facebook-text-des{
 color: #918d8d;
}
.img-size-fb{
    width: 262px;
    height: 350px;

}
.facebook-img{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 24px;
}

/* Footer Section*/
.Foot-background{
    background-color: #272727;
    width: auto;
    height: 500px;
    margin-top: 100px;
}

.foot-text{
    text-align: center;
    padding: 150px;
   margin: auto 0;
}
.foot-head-span{
    color: #E55473;
}
.foot-head{
    color: white;
}
.foot-description{
    width: 800px;
    text-align: center;
    margin: 0 auto ;
    color: white;
}
.copy-right{
    color: #8d8a8a;
}